p {
    text-align: center;
    color: rgb(250, 251, 0); 
}
body {
    background: rgb(223, 84, 233);
    font-family: Arial, Helvetica, sans-serif;
}
#header {
    text-align: center;
    color: rgb(255, 251, 0);
}
.about {
    text-align: center;
    color:rgb(255, 251, 0);
}
.projects{
    text-align: center;
    background: rgb(150, 245, 245);
}
.center {
    text-align: center;
}
.green {
    color: green;
}
.attention {
    font-weight: bold;
}

