p {
    text-align: center;
    color: rgb(229, 251, 0); 
}
body {
    background: rgb(223, 84, 233);
    font-family: Arial, Helvetica, sans-serif;
}
#header h1 {
    text-align: center;
    color: rgb(255, 251, 0);
}
.about h2 {
    text-align: center;
    color:rgb(255, 251, 0);
}
.projects h2 {
    text-align: center;
    background: rgb(229, 251, 0);
}
.center {
    text-align: center;
}
.green {
    color: green;
}
.attention {
    font-weight: bold;
}

