p {
    text-align: center;
    color: rgb(255, 251, 0); 
}
body {
    background: rgb(223, 84, 233);
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    text-align: center;
    color: rgb(255, 251, 0);
}
.skills{
     text-align: center;
    
}
.About_me{
   text-align: center;
    
}
.Mission_Statement{
     text-align: center;
    
}
.projects{
    text-align: center;
    
}
.Problem_Statement{
    text-align: center;
    
}
.contact{
    text-align: center;
   
}
.center {
    text-align: center;
}
.green {
    color: green;
}
.attention {
    font-weight: bold;
}

