p {
    text-align: center;
    color: red; 
}
body {
    background: rgb(223, 84, 233);
    font-family: Arial, Helvetica, sans-serif;
}
#header {
    color: rgb(255, 251, 0);
}
.about {
    text-align: center;
    color:rgb(255, 251, 0);
}
.projects {
    background: #00b3d1;
}
.left {
    text-align: left;
}
.green {
    color: green;
}
.attention {
    font-weight: bold;
}

