/* Structure */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
}

#content {
    width: 80%;
    margin: auto;
}

#main-header {
    background-color: bisque;
    padding: 10px;
}

#sidebar, #info {
    padding: 5px;
}

#sidebar {
    background-color: aliceblue;
}

#info {
    background-color: aquamarine;
}

/*Navigation*/
#main-nav ul, #quick-links {
    list-style-type: none;
    padding-left: 0;
}

#main-nav li {
    background-color: darkslateblue;
    padding: 5px;
    border: 1px solid black;
}

#main-nav a {
    color:rgb(250, 250, 252);
    text-decoration: none;
}


/*Typography*/

#main-header h1 {
    text-align:center;
    
}


/*Responsive Design*/
@media (min-width: 1000px) {
    .columns {
        display: flex  ;
    }

    #main-nav li {
        flex: 1;
        border: 0;
    }

    .one {
        flex: 1;
    }

    .two {
        flex: 2;
    }

    .three {
        flex: 3;
    }

    .four {
        flex: 4;
    }

    .five {
        flex: 5;
    }

    .six {
        flex: 6;
    }
}
